---
import NavBar from "./NavBar.astro";
---

<div class="flex flex-col gap-4 p-8">
  <NavBar />
  <h1 class="md:text-7xl font-bold text-5xl">SpaceX Launches 🚀</h1>
  <p class="font-semibold text-lg">
    Detailed and updated information about SpaceX launches, including news,
    dates, technical details and most relevant aspects of each mission.
  </p>
</div>
