---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
  <div>
    <h1>Hi</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium totam
      eius in eveniet est, id quos dolores sunt hic. Consequatur inventore
      provident expedita cupiditate autem quidem delectus maxime obcaecati
      temporibus.
    </p>
  </div>
</Layout>
