---
import Layout from "../layouts/Layout.astro";
import { getCompletion } from "../services/api-1";
import { getLaunchesSpaceX } from "../services/api-spaceX";
const data = await getCompletion();
console.log(data);
const data2 = await getLaunchesSpaceX();
console.log(data2);
---

<Layout title="Welcome to Astro.">
  <div>
    <h1>SpaceX Launches</h1>
    <p>
      Detailed and updated information about SpaceX launches, including news,
      dates, technical details and most relevant aspects of each mission.
    </p>
    <div></div>
  </div>
</Layout>
